# ==============================================================================
# CONFIGURACION DEL SERVIDOR PUENTE GPU (TFG)
# ==============================================================================

# 1. RUTA A COMFYUI
# Pon aqui la ruta ABSOLUTA de tu carpeta de ComfyUI en Windows.
# IMPORTANTE: No uses comillas al principio ni al final.
# Esta variable solo se utilizará en caso de ejecución manual y no a través de Docker.
COMFYUI_WINDOWS_DIR=C:\Ruta\Hacia\Tu\ComfyUI

# 2. URL DE LA API DE COMFYUI MEDIANTE DOCKER
# NO CAMBIAR.
COMFYUI_API_URL=http://host.docker.internal:8188